@import "../style/dimensions";


.save-button-container {

  @media (max-width: $max-width) {
    grid-row: 3;
    grid-column: 3;
    justify-self: end;
  }

  @media (max-width: $large-width) {
    grid-column: auto;
    grid-row: auto;
  }

  @media (max-width: $medium-width) {
    grid-row: 3;
    grid-column: 3;
    justify-self: end;
  }

  @media (max-width: $small-width) {
    //Must come down
    grid-column: 2;
    grid-row: auto;
  }

}

.delete-button-container {

  @media (max-width: $max-width) {
    grid-row: 3;
    grid-column: 4;
  }

  @media (max-width: $large-width) {
    grid-column: auto;
    grid-row: auto;
  }

  @media (max-width: $medium-width) {
    grid-row: 3;
    grid-column: 4;
  }

  @media (max-width: $small-width) {
    //Must come down
    grid-column: 3;
    grid-row: auto;
  }


}