@import "../style/dimensions";

.state-selection li.selected {
    border-bottom: 2px solid #2CAB6F;
}

.page-numbers button.selected {
    color: #2CAB6F;
}

h1 {
    font-family: "Product Sans Regular";
    font-weight: 300;
}

.progress-bar-container {
    bottom: 0;
    position: sticky;
    min-height: 50px;
    width: 100%;
    background-color: red;
    z-index: 2;

    
}

.bottom-banner-fixed {
    bottom: 0;
    position: bottom;
    min-height: 50px;
    width: 100%;
    background-color: red;
    z-index: 2;
    position: fixed;
    @media (max-width: $large-width) {
        width: 95%;
    }

    @media (max-width: $medium-width) {
        width: 93%;
    }

    @media (max-width: $small-width) {
        width: 90%;
    }

    @media (max-width: $x-small-width) {
        width: 86%;
    }

}