.state-selection {
  width: 70%;
  margin-bottom: 24px;
}

.state-selection ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.state-selection li {
  padding: 24px;
  padding-bottom: 12px;
  min-width: 240px;
  cursor: pointer;
}

.state-selection li.selected {
  border-bottom: 2px solid #1a73e8;
}

.state-selection a {
  text-decoration: none;
  color: #5f6368;
  font-family: "Product Sans Regular";
}


.state-selection button {
  color: #5f6368;
  font-weight: bold;
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: 18px;
  /*optional*/
  /*input has OS specific font-family*/
  text-decoration: none;
  cursor: pointer;
  font-family: "Product Sans Regular";
}
