@import 'palette';
@import 'components';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  color: mat-contrast($app-inverted, 500);
  overflow: hidden;
  position: relative;
}

app-camera-preview {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: black;

  ::ng-deep video {
    filter: brightness(0.5) blur(10px);
    width: calc(100vw + 20px);
    height: calc(100vh + 20px);
  }
}

.ui-language,
.endangered-language {
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .label {
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
  }

  app-scroll-list ::ng-deep {
    margin-bottom: 80px;

    li {
      button {
        @include text-button;
        color: mat-contrast($app-inverted, 500);
        font-size: 30px;
        font-weight: bold;
        margin: 0 30px;
        transition: color 0.3s ease-in-out;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-tap-highlight-color: transparent;
      }

      &:not(.current) {
        button {
          color: mat-contrast($app-inverted, 200);
          font-weight: normal;
        }
      }
    }
  }

  .description {
    display: block;
    padding: 0 40px;
    font-size: 22px;
    line-height: 30px;
    max-width: 300px;
    min-height: 150px;
  }
}

.ui-language {
  margin-top: 100px;
}

.endangered-language {
  app-scroll-list ::ng-deep {
    li button {
      font-size: 45px;
    }
  }
}

.close {
  @include icon-button;
  color: mat-contrast($app-inverted, 500);
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
}

.next {
  width: calc(100vw - 80px);
  max-width: 320px;
  margin-bottom: 40px;
}
