@import 'components';
@import 'palette';

:host {
  width: 100%;
  display: block;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

mat-toolbar {
  top: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .back,
  .submit-feedback {
    @include icon-button;
    position: absolute;
    top: 7px;
    width: 36px;
    height: 36px;

    app-icon {
      width: 24px;
      height: 24px;
    }

    .mat-icon {
      color: map-get(map-get($app-theme, "foreground"), "text");
    }
  }

  .back {
    left: 8px;
  }

  .submit-feedback {
    right: 8px;
  }

  app-logo {
    height: 16px;
  }
}

app-translation-selector {
  position: absolute;
  bottom: 18%;
  max-height: 75%;
}

:host-context([dir=rtl]) {
  .back {
    left: auto;
    right: 0;
  }

  .submit-feedback {
    padding-left: 20px;
    padding-right: 7px;

    app-icon {
      margin-right: 0;
      margin-left: 10px;
    }
  }
}
