@import '../../style/components';

:host {
  @include toolbar-page;
}

.content {
  padding-top: 63px;

  .mat-body-1 {
    letter-spacing: -0.025rem;
    line-height: 2.15rem;
    font-size: 1.32rem;

    &:first-child {
      margin-top: 20px;
    }
  }
}
