.ReactTable.user-table .rt-tr {
  text-align: left;
}

.role-text.MuiFormHelperText-root {
  margin: -8px 0 8px 32px;
}

.role-dialog-title.MuiDialogTitle-root {
  padding-bottom: 0;
}

.user-table-header {
  display: flex;
  flex-direction: row;
}

.user-table-header-spacer {
  width: 48px;
  flex-shrink: 2;
}