@import "../style/dimensions";


.toolbar-container {
    width: 50%;
    display: flex;
    color: #2CAB6F;
    justify-content: space-between;

    @media (max-width: $medium-width) {
        width: 100%;
    }

    .MuiTypography-subtitle2 {
        font-weight: bold;
    }

}

.user-table-container {
    margin: 3em 0em 5em 0em;

    .MuiTableCell-root {
        @media (max-width: $medium-width) {
            padding: 0em;
        }
    }

    .MuiTableCell-sizeSmall {
        @media (max-width: $medium-width) {
            padding: 0em 0.5em 0em 0em;
            white-space: pre-line;
        }

        @media (max-width: $small-width) {
            padding: 0em 0.25em 0em 0em;
            word-break: break-all;
        }
    }

}

.add-role-dialog-title.MuiDialogTitle-root {
    text-align: center;
}

.selected-row {
    background-color: rgb(213, 238, 226);
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #2CAB6F !important;
}

.MuiRadio-colorSecondary.Mui-checked {
    color: #2CAB6F !important;
}