@import 'components';

:host {
  @include centered-page;
  max-width: 75vh;
  margin-left: auto;
  margin-right: auto;

  &:before {
    flex-basis: 190px;
  }

  &:after {
    flex-basis: 175px;
  }
}

video,
.app-logo,
.arts-culture-logo,
.credits {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  &.hidden {
    opacity: 0;
  }
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.logos {
  width: 300px;
  max-width: 100%;
  padding: 0 20px;
  position: relative;
}

.credits {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
  transition-delay: 2s;
  text-align: center;
  position: absolute;
  bottom: 40px;

  li {
    margin: 0;
    padding: 0;

    &.arts-culture-logo {
      img {
        width: 250px;
        max-width: 100%;
      }
    }
  }

}
