
@use 'sass:map';
@use '@angular/material' as mat;
@import '../../style/palette';

:host {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

mat-icon {
  width: 100%;
  height: 100%;
}

mat-icon.shadow {
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: -1;
  color: mat.get-color-from-palette(map.get($app-theme, shadow), '500');
}
