<mat-form-field appearance="outline" [hideRequiredMarker]="true">
  <mat-label [innerHTML]="'Language' | translate:'language'"></mat-label>
  <mat-select [(value)]="currentLanguage">
    <mat-option *ngFor="let lang of languages" [value]="lang.code">{{ lang.name }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="outline" [hideRequiredMarker]="true">
  <mat-label [innerHTML]="'Endangered language' | translate:'endangeredLanguage'"></mat-label>
  <mat-select [(value)]="currentEndangeredLanguage">
    <mat-option *ngFor="let lang of endangeredLanguages" [value]="lang.code">{{ lang.name }}</mat-option>
  </mat-select>
</mat-form-field>
