:host {
  display: block;
  width: 1px;
  margin-left: auto;
  margin-right: auto;

  hr {
    background-color: white;
    border-style: none;
    transform: rotate(0deg);
    transform-origin: 50% 0;
    height: 100%;
  }
}
