@import 'components';
@import 'theme';

:host {
  display: block;
  width: 100%;
  text-shadow: 1px 1px 2px mat-color(map-get($app-theme, shadow), 500);
}

.translation-container {
  color: mat-contrast($app-inverted, 500);
  text-align: center;
  margin-bottom: 15px;
  width: 100%;

  .transliteration {
    font-size: 3.8rem;
    line-height: 3.8rem;
    position: relative;
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    max-width: 75%;
  }

  .translation {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 12px;
    position: relative;
    display: inline-block;
  }

  .translation,
  .transliteration {
    display: flex;
    max-width: 100%;

    &:before {
      content: "";
    }

    .word {
      flex: 0 1 auto;
      overflow-wrap: break-word;
      max-width: calc(100% - 150px);
    }

    &:before,
    .share {
      flex: 1 1 60px;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box;
    }

    .share {
      flex: 1 1 60px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: left;
      box-sizing: border-box;

      button {
        @include icon-button;
        color: mat-contrast($app-inverted, 500);
        width: 32px;
        height: 32px;
      }
    }
  }

  .play-audio,
  .record-audio {
    @include icon-button;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: mat-contrast($app-inverted, 500);
    width: 45px;
    height: 45px;
  }
}

.translation-not-found {
  color: mat-contrast($app-inverted, 500);
  text-align: center;
  margin-bottom: 15px;
  width: 100%;
  font-size: 2rem;
  line-height: 2rem;

  div {
    margin-bottom: 12px;
  }

  .add-translation {
    @include icon-button;
    color: mat-contrast($app-inverted, 500);
    width: 45px;
    height: 45px;
  }
}

app-selection-line {
  height: 125px;
}

app-word-scroll-list {
  margin-top: 15px;
}
