<div class="translation-container" *ngIf="selectedWord && selectedWord.translation">
  <div class="transliteration">
    {{ selectedWord.transliteration }}
    <span class="share">
      <button *ngIf="selectedWord.transliteration" (click)="onShareClick()">
        <app-icon icon="share" shadow="true"></app-icon>
      </button>
    </span>
  </div>
  <div class="translation">
    {{ selectedWord.translation }}
    <span class="share">
      <button *ngIf="!selectedWord.transliteration" (click)="onShareClick()">
        <app-icon icon="share" shadow="true"></app-icon>
      </button>
    </span>
  </div>
  <button *ngIf="selectedWord.soundURL" class="play-audio" (click)="onPlayAudioClick()">
    <app-icon icon="play_audio" shadow="true"></app-icon>
  </button>
  <button *ngIf="!selectedWord.soundURL" class="record-audio" (click)="onAddRecordingClick()">
    <app-icon icon="record_audio" shadow="true"></app-icon>
  </button>
  <audio #audioPlayer [src]="selectedWord.soundURL" preload="none"
         (play)="onAudioPlaying()" (ended)="onAudioStopped()" (pause)="onAudioStopped()"></audio>
</div>
<div class="translation-not-found" *ngIf="selectedWord && !selectedWord.translation">
  <div>Translation not found</div>
  <button *ngIf="!selectedWord.soundURL" class="add-translation" (click)="onAddTranslationClick()">
    <app-icon icon="record_audio" shadow="true"></app-icon>
  </button>
</div>
<app-selection-line [targetPosition]="lineTargetPosition"></app-selection-line>
<app-word-scroll-list [translations]="translations" (selectedWordChanged)="onSelectedWordChanged($event)"
  (targetPositionChanged)="onTargetPositionChanged($event)"></app-word-scroll-list>
