<app-icon icon="brand" class="brand-icon"></app-icon>
<app-logo class="brand-logo"></app-logo>
<mat-list>
  <mat-list-item><a [routerLink]="['/about']" i18n="@@aboutTitle">About the app</a></mat-list-item>
  <mat-list-item><a [routerLink]="['/technology']" i18n="@@technologyTitle">The technology</a></mat-list-item>
  <mat-list-item><a [routerLink]="['/feedback']" [state]="{prevPageCssClass: 'capture'}" i18n="@@translationFeedback">
    Translation feedback</a></mat-list-item>
  <mat-list-item><a [routerLink]="['/add-word']" [state]="{prevPageCssClass: 'capture'}" i18n="@@addWordTitle">Add word</a></mat-list-item>
  <mat-list-item><a [routerLink]="['/terms']" i18n="@@termsAndPrivacyTitle">Terms &amp; Privacy</a></mat-list-item>
</mat-list>
<button *ngIf="canAddToHomeScreen" class="home-screen" mat-button (click)="onAddToHomeScreenClick()">
  <app-icon icon="add_to_home"></app-icon>
  <span i18n="@@addToHomeScreen">Add to home screen</span>
</button>
