@use 'sass:map';
@import '../../style/palette';

:host {
  display: block;
  box-sizing: border-box;
}

.brand-logo {
  height: 60px;
  margin: 60px 30px 45px 30px;
}

ul {
  padding: 0;
  margin: 0 30px 6px 30px;
  list-style-type: none;

  ul {
    margin: 15px 20px 25px 20px;
  }

  li {
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: rgba(map.get(map.get($app-theme, "foreground"), "text"), 0.5);

    li {
      font-weight: bold;
      color: map.get(map.get($app-theme, "foreground"), "text");
    }

    a {
      text-decoration: none;
      display: block;
      padding: 10px 0;
    }
  }
}

button.home-screen {
  text-transform: none;
  letter-spacing: 0;
  width: 100%;
  text-align: start;
  padding: 0 24px;
  border-radius: 0;
  margin-bottom: 20px;

  span {
    margin: 0 30px;
  }
}
