@mixin centered-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:before {
    content: "";
    display: block;
    flex: 0.5 1 300px;
  }

  &:after {
    content: "";
    display: block;
    flex: 1 1 120px;
  }
}
