$foreground-color: #303438;

body {
  color: $foreground-color;
}

.mat-typography h1 {
  font-size: 2.1rem;
  font-weight: 500;
}

button.mat-button-base {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 4px 20px;
  min-width: 105px;
  border-radius: 5px;
  letter-spacing: 0.08rem;
}

a {
  color: inherit;
}

.mat-body-1 {
  font-size: 1.32rem;
  line-height: 2.5rem;
}

.mat-body-2 {
  font-size: 1.92rem;
  line-height: 2.48rem;
}

mat-toolbar.mat-toolbar-single-row {
  height: 80px;
  padding: 0 0 0 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-size: 1.7rem;
  color: $foreground-color;
  font-weight: 400;
}


mat-checkbox {
  .mat-checkbox-inner-container {
    width: 22px;
    height: 22px;
    margin-right: 20px;
  }

  .mat-checkbox-label {
    font-size: 1.1rem;
  }
}

.mat-form-field.textarea {
  width: 100%;
  display: block;

  textarea {
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
  }

  .mat-form-field-infix {
    padding: 18px 10px;
  }

  .mat-form-field-outline > * {
    border-width: 2px;
  }

  .mat-form-field-label-wrapper label {
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    margin-left: 10px;

    .mat-placeholder-required {
      visibility: hidden;
    }
  }

  .mat-form-field-subscript-wrapper[ng-reflect-ng-switch=error] {
    font-size: inherit;
    padding-top: 10px;
  }

  &.ng-touched,
  &.mat-focused {
    .mat-form-field-label-wrapper label .mat-placeholder-required {
      visibility: visible;
    }
  }
}


form {
  .mat-body-1 {
    font-size: 1.1rem;
    line-height: 1.75rem;
  }
}
