$foreground-color: #303438;

body {
  color: $foreground-color;
}

.mat-typography h1 {
  font-size: 2.1rem;
  font-weight: 500;
}

button.mat-button-base {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 4px 20px;
  min-width: 105px;
  border-radius: 5px;
}

a {
  color: $foreground-color;
}

.mat-body-1 {
  font-size: 1.32rem;
  line-height: 2.14rem;
}

mat-toolbar.mat-toolbar-single-row {
  height: 70px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  color: $foreground-color;
}
/* DEBUG */
body {
  background: url(/assets/debug/screens/intro-terms-conditions.png) no-repeat center center;
  background-size: contain;
  height: 100vh;
}
