@import 'dimensions';
@import 'palette';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

p {
  max-width: 400px;
  min-height: 300px;
  padding: 30px 20px;
  margin: 20px;
  text-align: center;
  background-color: mat-color($app-accent);
  color: mat-contrast($app-accent, 800);
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 22px;
  line-height: 140%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
