@import '../intro';

:host {
  @include intro-page;

  &:before {
    flex-basis: 270px;
  }

  &:after {
    flex-basis: 30px;
  }

  p {
    margin-bottom: 67px;
  }

  app-pagination-indicator {
    margin-bottom: 47px;
  }

  button {
    &.next {
      margin-bottom: 27px;
    }

    &.skip {
      font-size: 1.4rem;
    }
  }
}
