@use '@angular/material' as mat;
@import '../../../style/components';
@import '../../../style/dimensions';
@import '../../../style/palette';

:host {
  @include centered-page;
  justify-content: stretch;
  padding: 0 20px;

  &:after,
  &:before {
    display: none;
  }
}

app-logo {
  height: 60px;
  margin: 20px 0 auto 0;
}

.intro {
  margin: 40px 0;
  width: 100%;
  background-color: mat.get-color-from-palette($app-accent);
  color: mat.get-color-from-palette($app-accent, '800-contrast');
  flex: 0 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
  border-radius: 8px;
  max-width: 307px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.messages {
  margin-bottom: 40px;
  max-width: 300px;
  text-align: center;
  color: mat.get-color-from-palette($app-primary);
}

button.next {
  max-width: 300px;
  width: 100%;
  margin: auto 0 auto 0;
}

.feedback {
  font-size: 14px;
  line-height: 140.4%;
  text-align: center;
  max-width: 300px;
  margin: 27px auto 30px auto;
  padding: 0 20px;
  color: #767777;
}
