.MuiAppBar-colorPrimary.header {
  background: #fff;
  color: #5f6368;
}
.header-logo {
  height: 18px
}
.MuiToolbar-root {
  justify-content: space-between;
}

.header-title {
  font-size: 24px;
  font-weight: 300;
  margin: 0px 16px 0px 36px;
}

.header-search {
  background: #f1f3f4;
  border-radius: 5px;
  display: flex;
  margin: 8px 0px;
  max-width: 640px;
  padding: 10px;
  width: 100%;
}

.header-search.hidden {
  visibility: hidden;
}

div.header-search-root {
  padding-left: 6px;
  width: 100%;
}

.MuiInputBase-input.header-search-input {
  font-size: 18px;
  color: #80868b;
  font-weight: 500;
  padding: 2px 4px;
}

.MuiInputBase-input.header-search-input::placeholder {
  opacity: 0.75;
}

svg.header-search-icon {
  font-size: 26px;
  color: #5f6368;
  cursor: pointer;
}

svg.header-search-icon:hover {
  opacity: 0.8;
}

.auth-button.MuiButton-root {
  margin-left: 16px;
  min-width: 96px;
}

.header-logo {
  width: 200px;
}
