@use 'sass:map';
@use '@angular/material' as mat;

$_primary-pallet: (
  800: #54B883,
  contrast: map.get(mat.$green-pallette, contrast)
);

$app-primary: mat.define-palette($_primary-pallet, 800);
$app-accent:  mat.define-palette($_primary-pallet, 800);
