.MuiPaper-root.side-nav-paper {
  box-shadow: none;
}

.MuiList-root.side-nav-list {
  padding: 0;
}

.MuiMenuItem-root.side-nav-menu-item {
  font-size: 16px;
  color: #3c4043;
  padding-left: 60px;
  padding-right: 48px;
  font-weight: 400;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.MuiListItem-root.side-nav-menu-item.Mui-selected {
  background-color: #e9f1fe;
  color: #1967d2;
  font-weight: 500;
}

.MuiListItem-root.side-nav-menu-item.Mui-selected:hover {
  background-color: #abc7f2;
}

.MuiListItem-button.side-nav-menu-item:hover {
  background-color: #e9f1fe;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
