@use '@angular/material' as mat;
@import '../../style/components';
@import '../../style/palette';

:host {
  width: 100%;
  min-height: 100%;
  display: block;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

form {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 20px;
  box-sizing: border-box;

  .mat-form-field.text {
    color: mat.get-color-from-palette($app-inverted, '500-contrast');

    input::placeholder {
      color: mat.get-color-from-palette($app-inverted, '300-contrast');
    }

    ::ng-deep .mat-form-field-outline {
      display: none;
    }

    ::ng-deep .mat-form-field-flex:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0.25em;
      bottom: 0;
      background-color: mat.get-color-from-palette($app-inverted);
      border-radius: 5px;
    }
  }
}

:host-context([dir=rtl]) {
  mat-toolbar {
    .back {
      right: 8px;

      app-icon {
        @include directional;
      }
    }

    .add-feedback {
      left: 8px;

      app-icon {
        @include directional;
      }
    }
  }
}
