@mixin centered-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:before {
    content: "";
    display: block;
    flex: 0.5 1 300px;
  }

  &:after {
    content: "";
    display: block;
    flex: 1 1 120px;
  }
}

@mixin icon-button {
  padding: 0;
  background: transparent;
  border-style: none;
  width: 24px;
  height: 24px;
  outline: none;
  cursor: pointer;

  app-icon {
    width: 100%;
    height: 100%;
  }

  mat-icon {
    width: 100%;
    height: 100%;
  }
}
