@import 'components';

:host {
  @include centered-page;

  &:before {
    flex-basis: 255px;
  }

  &:after {
    flex-basis: 223px;
  }

  p {
    margin: 0 60px 110px 60px;
    text-align: center;
  }

  .actions {
    text-align: center;
    
    button {
      min-width: 155px;
    }

    .load-photo {
      margin-right: 10px;
      // Move padding from button to label, so file select is
      // triggered wherever the user clicks, not just on the button text
      padding: 0;
      vertical-align: top;

      ::ng-deep {
        label {
          padding: 4px 20px;
        }
      }
    }
  }
}
