@import '../../style/components';

:host {
  @include centered-page;

  &:before {
    flex-basis: 255px;
  }

  &:after {
    flex-basis: 223px;
  }

  p {
    margin: 0 60px 110px 60px;
    text-align: center;
  }

  .actions {
    text-align: center;

    button {
      min-width: 155px;
      margin: 0 5px;
    }
  }
}
