@import 'components';

:host {
  display: block;
  width: 100%;
}

.translation-container {
  color: white;
  text-align: center;
  margin-bottom: 15px;
  width: 100%;

  .translation {
    font-size: 3.8rem;
    line-height: 3.8rem;
    position: relative;
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 500;
    letter-spacing: 0.2rem;
    max-width: 75%;
  }

  .share {
    @include icon-button;
    color: white;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -46px;
    top: 58%;
    transform: translateY(-50%);
  }

  .transliteration {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 12px;
  }

  .play-audio,
  .record-audio {
    @include icon-button;
    color: white;
    width: 45px;
    height: 45px;
  }
}

.translation-not-found {
  color: white;
  text-align: center;
  margin-bottom: 15px;
  width: 100%;
  font-size: 2rem;
  line-height: 2rem;

  div {
    margin-bottom: 12px;
  }

  .add-translation {
    @include icon-button;
    color: white;
    width: 45px;
    height: 45px;
  }
}

app-selection-line {
  height: 125px;
}

app-word-scroll-list {
  margin-top: 15px;
}
