@import 'components';

mat-toolbar.mat-toolbar-single-row {
}

.close {
  @include icon-button;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.content {
  padding: 63px 30px 30px 30px;

  .intro {
    margin-bottom: 38px;
  }

  .instructions {
    letter-spacing: -0.025rem;
    line-height: 2.15rem;
  }
}
