@use '@angular/material' as mat;
@import '../../../style/palette';
@import '../../../style/components';
@import '../../../style/typography';

.banner {
  height: 310px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: mat.get-color-from-palette($app-inverted, '500-contrast');

  .back {
    @include icon-button;
    color: mat.get-color-from-palette($app-inverted, '500-contrast');
    position: absolute;
    left: 20px;
    top: 40px;
    z-index: 1;
    padding: 15px;
    width: 44px;
    height: 44px;

    app-icon {
      @include directional;
    }
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .translation {
    position: relative;
    width: 100px;
    height: 100px;
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(../../../assets/img/camera-frame.svg) no-repeat center center;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: lowercase;
  }

  .original {
    position: relative;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: bold;
  }
}

:host-context([dir=rtl]) .banner .back {
  right: 20px;
  left: auto;
}

.title,
.details,
.description {
  margin: 0 40px;
  padding: 40px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;

  h1 {
    font-family: $main-font;
    font-size: 45px;
    margin-bottom: 40px;
    line-height: 45px;
  }

  .explore {
    @include text-button;
    font-weight: bold;
    font-size: 18px;
    color: mat.get-color-from-palette($app-accent);
    text-decoration: underline;
  }
}

.details {
  font-size: 18px;

  .field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .label {
    font-weight: bold;
    color: mat.get-color-from-palette($app-secondary);
    margin-right: 10px;
  }

  .value {
    color: #767777;
    text-align: right;
  }
}

:host-context([dir=rtl]) .details .label {
  margin-right: 0;
  margin-left: 10px;
}

.description {
  font-size: 18px;
  color: #767777;
  line-height: 140.4%;
}

.other-languages {
  padding: 40px;
  overflow: hidden;

  h2 {
    font-size: 20px;
    color: #303438;
    font-family: $main-font;
  }

  app-scroll-list {
    overflow: visible;

    ::ng-deep ul li {
      margin-right: 10px;
    }

    .language {
      .example {
        width: 160px;
        height: 160px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: mat.get-color-from-palette($app-inverted, '500-contrast');
        margin-bottom: 10px;

        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .translation {
          position: relative;
          width: 70px;
          height: 70px;
          font-size: 18px;
          line-height: 18px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: url(../../../assets/img/camera-frame.svg) no-repeat center center;
          margin-bottom: 10px;
          margin-top: 20px;
          text-align: center;
          text-transform: lowercase;
        }

        .original {
          position: relative;
          text-transform: lowercase;
          font-size: 16px;
        }
      }
    }
  }
}
