.audio-buttons {
  width: 150px;
  display: flex;

}

button.recording, button.playing {
  border: solid 2px #2CAB6F;
}

button.recording, button.record {
  margin-right: 10px;
}

.audio-buttons button {
    margin-top: 5px;
}

.progress-ring {
  position: absolute;
  margin: -60px 0px 0px -4px;
  pointer-events: none;
}

.MuiSvgIcon-root {
  min-width: 1.25em;
  min-height: 1.25em;
}