:host {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;

  input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 1px;
    height: 1px;
  }

  label {
    display: inline-block;
    cursor: pointer;
  }
}
