@import 'components';

:host {
  @include centered-page;
  max-width: 75vh;
  margin-left: auto;
  margin-right: auto;

  &:before {
    flex-basis: 190px;
  }

  &:after {
    flex-basis: 175px;
  }
}

app-logo {
  width: 75%;
  margin-bottom: 180px;
}

.sponsor-logo {
  width: 65%;

  img {
    display: block;
    width: 100%;
  }
}
