.bm-burger-button {
  /* Change to position to fixed if want to overflow over other components */
  position: absolute;
  width: 20px;
  height: 20px;
  top: 22px;
  left: 24px;
}

.bm-burger-bars {
  background: #3c4043;
}

.bm-burger-bars-hover {
  opacity: 0.8;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(60,64,67,0.302), 0 8px 12px 6px rgba(60,64,67,0.149);
  padding-top: 2.5em;
  font-size: 1.15em;
}

.bm-overlay {
  position: absolute;
  opacity: 1;
}

.menu-auth-button.MuiButton-root {
  margin-left: 60px;
}