.MuiMenuItem-root.nav-menu-item {
  font-size: 16px;
  color: #3c4043;
  line-height: 40px;
  padding-left: 60px;
  padding-right: 48px;
  font-weight: 400;
}

.MuiListItem-root.nav-menu-item.Mui-selected {
  background-color: #D5EEE2;
  color: #2CAB6F;
  font-weight: 500;
}

.MuiListItem-root.nav-menu-item.Mui-selected:hover {
  background-color: #D5EEE2;
}

.MuiListItem-button.nav-menu-item:hover {
  background-color: #e7f5ef;
}
