.MuiMenuItem-root.nav-menu-item {
  font-size: 16px;
  color: #3c4043;
  line-height: 40px;
  padding-left: 60px;
  padding-right: 48px;
  font-weight: 400;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;  
}

.MuiListItem-root.nav-menu-item.Mui-selected {
  background-color: #e9f1fe;
  color: #1967d2;
  font-weight: 500;
}

.MuiListItem-root.nav-menu-item.Mui-selected:hover {
  background-color: #abc7f2;
}

.MuiListItem-button.nav-menu-item:hover {
  background-color: #e9f1fe;
}
