:host {
  position: relative;
  overflow: hidden;
  z-index: 0;
  display: block;
}

video {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
}

.captured-image {
  position: absolute;
  z-index: -100;
  visibility: hidden; /* canvas must have dimensions to render image, but doesn't need to be visible */
  top: 0;
  left: 0;
}
