@import "~@angular/material/theming";
@import 'theme-config';

$theme-colors: (
  #EC5547,
  #61B85D,
  #54B883,
  #F59A41,
  #EB6C39,
);

$_nav-pallet: (
  100: #FDEFC1,
  500: #F9AB00,
  contrast: map-get($mat-orange, 'contrast')
);

$_inverted-pallet: (
  100: #000000,
  500: #323232,
  contrast: (
    100: #b9b9b9,
    500: #FFFFFF
  )
);

$app-warn:    mat-palette($mat-red);
$app-nav:  mat-palette($_nav-pallet);
$app-inverted:  mat-palette($_inverted-pallet);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$_foreground: map-merge(map-get($app-theme, "foreground"), (
  "text": #303438
));
$app-theme: map-merge($app-theme, ("foreground": $_foreground));
$_background: map-merge(map-get($app-theme, "background"), (
  "app-bar": #FFFFFF
));
$app-theme: map-merge($app-theme, ("background": $_background));
$app-theme: map-merge($app-theme, ("shadow": (
  100: rgba(0, 0, 0, 0.2),
  500: rgba(0, 0, 0, 0.4))
));
