autopep8==1.6.0
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
google-api-core==2.8.2
google-auth==2.8.0
google-cloud-core==2.2.2
google-cloud-firestore==2.3.4
googleapis-common-protos==1.56.2
idna==2.10
protobuf==4.21.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pytz==2020.1
requests==2.31.0
rsa==4.7
six==1.15.0
toml==0.10.2
urllib3==1.26.5
