@import 'theme';

:host {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 100%;

  hr {
    width: 1px;
    background-color: mat-contrast($app-inverted, 500);
    border-style: none;
    transform: rotate(0deg);
    transform-origin: 50% 0;
    height: 100%;
    box-shadow: 1px 1px 2px mat-color(map-get($app-theme, shadow), 500);
  }
}
