html { 
  height:100%; 
}

body {
  height:100%;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
#root, .app-container { 
  height: 100%;
}

.centralize {
  text-align: center;
}

.centralize .margin-button {
  margin: 8px;
}

.centralize button {
  margin: 20px;
}

.textblock {
  display: inline-block;
  max-width: 500px;  
}

.body-container-banner {
  height: calc(100% - 100px);
  overflow: auto;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}

.body-margin {
  width: 300px;
  flex-shrink: 2;
}

.page-container {
  width: 100%;
}

.page-container.logged-out {
  margin: 0;
}

.landing-page-img {
  width: 100%;
  max-width: 800px;
}

.MuiButton-containedPrimary:enabled, .MuiChip-colorPrimary, span.MuiButton-containedPrimary {
  background-color: #2CAB6F !important;
}

.MuiButton-containedSecondary:enabled, .MuiChip-colorSecondary, span.MuiButton-containedSecondary {
  background-color: #eda14f !important;
}

.MuiFab-root {
  background-color: #ffffff !important;
}

.MuiFab-root:hover {
  background-color: #D5EEE2 !important;
}
