body {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}

.body-margin {
  width: 300px;
  flex-shrink: 2;
}

.page-container {
  width: 100%;
}

.page-container.logged-out {
  margin: 0;
}

.landing-page-img {
  width: 100%;
}

.MuiButton-containedPrimary:enabled, .MuiChip-colorPrimary {
  background-color: #61b985 !important;
}

.MuiButton-containedSecondary:enabled, .MuiChip-colorSecondary {
  background-color: #eda14f !important;
}
