@import './style/dimensions';


html {
  height:100%;
}

body {
  height:100%;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
#root, .app-container {
  height: 100%;
}

.centralize {
  text-align: center;
}

.centralize .margin-button {
  margin: 8px;
}

.centralize button {
  margin: 20px;
}

.textblock {
  display: inline-block;
  max-width: 500px;
}

.body-container-banner {
  height: calc(100% - 100px);
  overflow: auto;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}

.body-margin {
  min-width: 100px;
  @media (max-width: $max-width) {
    min-width: 45px;
  }

  @media (max-width: $large-width) {
    min-width: 24px;
  }

  @media (max-width: $medium-width) {
    min-width: 24px;
  }

}

.page-container {
  width: 100%;
}

.page-container.logged-out {
  margin: 0;
}

.landing-page-img {
  width: 100%;
  max-width: 800px;
}

.MuiButton-containedPrimary:enabled, .MuiChip-colorPrimary, span.MuiButton-containedPrimary {
  background-color: #2CAB6F !important;
}

.MuiRadio-colorPrimary.Mui-checked {
  color: #2CAB6F !important;
}


.MuiButton-textPrimary:not(.Mui-disabled) {
  color: #2CAB6F !important;
}

.MuiButton-textPrimary:hover,
.MuiIconButton-colorPrimary:hover {
  background-color: #D5EEE2 !important;
}

.MuiButton-containedSecondary:enabled, .MuiChip-colorSecondary, span.MuiButton-containedSecondary {
  background-color: #EDA14F !important;
}

.MuiButton-outlinedSecondary {
  color: #EDA14F !important;
  border: 1px solid rgba(237, 161, 79, 0.08);
}

.MuiButton-outlinedSecondary:hover {
  border: 1px solid #EDA14F !important;
  background-color: rgba(237, 161, 79, 0.08) !important;
}

.MuiFab-root {
  background-color: #FFF !important;
}

.MuiFab-root:hover {
  background-color: #D5EEE2 !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #2CAB6F!important;
}

.MuiFormLabel-root.Mui-focused {
  color: #2CAB6F!important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #2CAB6F!important;
}
