.body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}

.body-margin {
  width: 1000px;
  flex-shrink: 2;
}

.page-container {
  width: 100%;
}

.page-container.logged-out {
  margin: 0;
}

.landing-page-img {
  width: 100%;
}
