body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Product Sans Medium";
  src: url(./style/fonts/ProductSans-Medium.woff) format('woff');
}

@font-face {
  font-family: "Product Sans Regular";
  src: url(./style/fonts/ProductSans-Regular.woff) format('woff');
}
