@use 'sass:map';
@use '@angular/material' as mat;
@import '../../style/components';
@import '../../style/palette';

mat-form-field.text {
  margin-bottom: 30px;
}

.record {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;

  > * {
    flex: 0 0 auto;
    margin-right: 20px;
  }

  button {
    @include icon-button;
    border-radius: 50%;
    border-color: transparent;
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
    width: 60px;
    height: 60px;
    position: relative;

    app-icon {
      width: 36px;
      height: 36px;
    }

    app-progress-border {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      fill: mat.get-color-from-palette($app-primary);
    }

    app-icon {
      transform: translateY(2px);
    }
  }


  .play-container {
    position: relative;

    // use absolute positioning on "save" caption to avoid effecting vertical centering.
    span {
      margin-top: 10px;
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
    }
  }
}

.special-chars {
  font-size: 0.97rem;
}
