.translation-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.base-word {
  color: #202124;
  font-size: 24px;
  margin-top: 20px;
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}
