@import '../intro';

:host {
  @include intro-page;

  &:before {
    flex-basis: 300px;
  }

  &:after {
    flex-basis: 120px;
  }
}

p {
  margin-bottom: 82px;
}

app-pagination-indicator {
  margin-bottom: 47px;
}

button.mat-button-base {
  padding-left: 30px;
  padding-right: 30px;
}
