<h1>Barnard</h1>
<mat-list>
  <mat-list-item><a [routerLink]="['/about']">About this app</a></mat-list-item>
  <mat-list-item><a [routerLink]="['/technology']">The technology</a></mat-list-item>
  <mat-list-item><a [routerLink]="['/feedback']">Translation feedback</a></mat-list-item>
  <mat-list-item><a [routerLink]="['/add-word']">Add word</a></mat-list-item>
  <mat-list-item><a [routerLink]="['/terms-privacy']">Terms &amp; Privacy</a></mat-list-item>
  <mat-list-item><button mat-button>Add to home screen</button></mat-list-item>
</mat-list>
