:host {
  display: block;
  padding-top: 45px;
  box-sizing: border-box;
}

.brand-logo {
  display: block;
  width: 200px;
  margin: 0 22px 45px 22px;
}

mat-list {
  padding-top: 0;
  margin-bottom: 6px;

  mat-list-item {
    height: auto;
    font-size: 1.1rem;
    font-weight: 500;

    ::ng-deep .mat-list-item-content {
      padding: 0;
    }

    a {
      text-decoration: none;
      padding: 20px 20px;
      display: block;
      width: 100%;
    }
  }
}

language-selector {
  margin: 30px 30px 0 30px;
}

button.home-screen {
  text-transform: none;
  letter-spacing: 0;
  width: 100%;
  text-align: start;
  padding: 0 24px;
  border-radius: 0;
  margin-bottom: 20px;

  span {
    margin: 0 30px;
  }
}
